<template>
  <v-img
        class="mx-0"
        :src= image_src
        max-height="50"
        max-width="100"
        contain
      ></v-img>
</template>


<script>
export default {
  name: "Logo",
  data() {
    return {
      image_src: require('~/assets/images/logo/rave-logo.png'),
    };
  }
};
</script>