<template>
    <v-app-bar :clipped-left="clipped" fixed app light dense class="rtt-bar" color="shades white" >
      <logo />
      <v-divider class="mr-2 rtt-devider" vertical />
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-avatar height="40" width="40">
        <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" >
      </v-avatar>
      <v-divider class="mx-2 rtt-devider" vertical />
      <v-btn icon>
        <v-icon>mdi-cart-outline</v-icon>
      </v-btn>
      
      <v-divider class="mx-2 rtt-devider" vertical />
      <v-app-bar-nav-icon class="mr-2" />
    </v-app-bar>
</template>

<script>
    import Logo from '~/components/Logo.vue'
    export default {
        components: {
            Logo
        },
        name: "Header",
        data () {
            return {
                clipped: false,
                fixed: false,
            }
        }
    }
</script>