<template>
  <v-app class="rtt-app">
    <Header/>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <Footer/>
  </v-app>
</template>

<script>
import Header from './partials/header'
import Footer from './partials/footer'
export default {
  components: {
    Header,
    Footer
  },
  data () {
    return {
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>

<style scope>
  .theme--light.rtt-app{
    background-color: #F3F3F3;
  }
  .rtt-bar .v-toolbar__content{
    padding: 0;
  }
  .rtt-devider{
    border-width: 0 2px 0 0;
  }
  .rtt-bar .v-btn__content{
    color:#000;
  }
  @media (min-width: 1264px){
    .container {
        max-width: 1240px;
    }
  }
  @media (min-width: 1904px){
    .container {
        max-width: 1665px;
    }
  }


</style>
