<template>
  <v-layout justify-center align-center>
    <v-row no-gutters>
      <v-col class="col-md-12">
        <div class="full-profile">
          <v-card class="mx-auto p-3 rtt-profile-card">
            <v-img
              class="white--text align-end mb-6 banner"
              height="162px"
              :src= image_src
              cover
            >
            </v-img>
            <v-avatar
              class="profile"
              color="grey"
              size="172"
              tile
            >
              <v-img :src=profile_image_src />
            </v-avatar>
            <v-row no-gutters>
              <v-col md-8>
                <v-card-title class="px-0 profile-title" >Loapalooza exclusive tango season, 2020</v-card-title>
                <v-card-text class="text--primary px-0 profile-description">
                  <p>The quick, brown fox jumps over a lazy gquiz graced by fox whelps. Bawds jog, flick quartz. … <a href="#">Learn More</a></p>
                </v-card-text>
              </v-col>
              <v-col md-4>

              </v-col>
            </v-row>
            
          </v-card>
          <v-card class="my-3 list-details-card">
            <v-card-title>Hotels near event</v-card-title>
          </v-card>
          <v-card class="my-3 list-details-card">
            <v-card-title >Attractions nearby</v-card-title>
          </v-card>
        </div>
      </v-col>
      <v-col class="col-md-12 events-group">
        <v-card-title>Similar Events</v-card-title>
        <div class="events">
          <v-card
              :loading="loading"
              class="rtt-event-card"
              
            >
              <v-img
                  height="150"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img>
              <div class="rtt-event-card_description">
                <v-card-title>Loapalooza exclusive tango season, 2020</v-card-title>
            
                <v-card-text>
                  <span>Hard Rock Arena, Portland</span>
                </v-card-text>
              </div>
            </v-card>
            <v-card
              :loading="loading"
              class="rtt-event-card"
              
            >
              <v-img
                  height="150"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img>
              <div class="rtt-event-card_description">
                <v-card-title>Loapalooza exclusive tango season, 2020</v-card-title>
            
                <v-card-text>
                  <span>Hard Rock Arena, Portland</span>
                </v-card-text>
              </div>
            </v-card>
            <v-card
              :loading="loading"
              class="rtt-event-card"
              
            >
              <v-img
                  height="150"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img>
              <div class="rtt-event-card_description">
                <v-card-title>Loapalooza exclusive tango season, 2020</v-card-title>
            
                <v-card-text>
                  <span>Hard Rock Arena, Portland</span>
                </v-card-text>
              </div>
            </v-card>
            <v-card
              :loading="loading"
              class="rtt-event-card"
              
            >
              <v-img
                  height="150"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                ></v-img>
              <div class="rtt-event-card_description">
                <v-card-title>Loapalooza exclusive tango season, 2020</v-card-title>
            
                <v-card-text>
                  <span>Hard Rock Arena, Portland</span>
                </v-card-text>
              </div>
            </v-card>
        </div>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    VuetifyLogo
  },
  data() {
    return {
      image_src: require('~/assets/images/profile/profile-banner.png'),
      profile_image_src: require('~//assets/images/profile/profile-photo.jpg'),
    };
  }
}
</script>

<style scope>
.v-card{
  border-radius: 0 !important;
  box-shadow: none;
}
.rtt-profile-card {
    padding: 33px 20px;
    position: relative;
}
.rtt-profile-card .banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.rtt-profile-card .profile{
  border: 2px solid #dcdcdc !important;
}
.profile-title{
  width:270px;
}
.profile-description{
  width: 430px;
}
.list-details-card{
  padding: 18px 20px;
  margin: 20px 0;
}
.list-details-card .v-card__title,.events-group .v-card__title{
  padding: 0;
  margin-bottom: 35px;
}
.events-group{
  margin-top: 40px;
}
.events-group>.v-card__title{
  margin-left: 20px;
}
.events {
    display: flex;
    flex-flow: row;
    margin: 0 20px;
}
.events .rtt-event-card {
    margin: 8px 8px 15px 8px;
    max-width: 200px;
}
.events .rtt-event-card:first-child{
  margin-left: 0;
}
.rtt-event-card .rtt-event-card_description {
    padding: 15px;
}
.rtt-event-card .rtt-event-card_description .v-card__title{
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
}
.rtt-event-card .rtt-event-card_description .v-card__text{
  padding: 0;
}
</style>
